
body{
    font-family: cursive;
    font-size: 15px;
    background-image: url(bg.jpg);
    background-position: center;
}
table{
    background-color: rgb(232, 185, 241);
    align-items: center;
    text-align: left;
    table-layout: auto;
    border-radius: 5px;
    color: black;
    
   
}
ul{
    text-align: center;
   
}
li{
    text-align: left;
    color: white;
}
h3{
    text-align: center;
    text-decoration: none;
    color: white;
}
input{
    background-color: #ff1d58;
    cursor: pointer;
}